@media (max-width: 1440px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px;
    }
    .topber-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 86.1%;
        top: 0px;
        padding: 10px 0;
        z-index: 99999999;
    }
    .site-title h1 {
        font-size: 85px;
    }
    .site-title {
        position: absolute;
        top: 28%;
        left: 13%;
    }
    .section-two-wrap .sec-two-lft {
        width: 10%;
    }
    .section-two-wrap .sec-two-mdl {
        width: 33%;
    }
    .sec-two-mdl h4 {
        font-size: 19px;
    }
    .section-tree-wrapper {
        width: 74%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        align-items: center;
    }
}

@media (max-width: 1199px) {
    .topber-section ul.tpmenu {
        display: flex;
        gap: 35px;
        padding-left: 40px;
    }
    .topber-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 85.9%;
        top: 0px;
        padding: 10px 0;
        z-index: 99999999;
    }
    /* next-section */
    .section-two-wrap .sec-two-rght {
        width: 64%;
    }
    .section-two-wrap .sec-two-mdl {
        width: 28%;
    }
    .sec-two-mdl h4 {
        font-size: 14px;
    }
    .site-title h1 {
        font-size: 75px;
    }
    .site-title {
        position: absolute;
        top: 34%;
        left: 14%;
        z-index: 2;
    }
    .section-tree-wrapper h2 {
        margin-bottom: 0;
        font-size: 23px;
    }
    .section-tree-wrapper ul {
        display: flex;
        gap: 44px;
        align-items: center;
    }
}

@media (max-width: 991px) {
    .topber-section ul.tpmenu {
        display: flex;
        gap: 15px;
        padding-left: 40px;
    }
    .topber-section ul.tpmenu li a {
        color: #fff;
        font-size: 14px;
    }
    .topber-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 85.7%;
        top: 0px;
        padding: 10px 0;
        z-index: 99999999;
    }
    .tpber-phn-no a {
        display: flex;
        padding: 10px 10px;
        color: #fff;
        background-color: orange;
        border: 1px solid orange;
        gap: 15px;
        transition: all 0.3s ease;
    }
    /* next section */
    .site-title h1 {
        font-size: 60px;
    }
    .site-title {
        position: absolute;
        top: 37%;
        left: 17%;
    }
    .section-tree-wrapper {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .spc-mt {
        margin-top: 56px;
    }
    .section-six-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .footer-wrapper>.row {
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .ftr-socila-mnu ul {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .navtoggle {
        display: inherit;
    }
    .abc {
        display: block;
    }
    .autohide {
        display: none;
    }
    .container-fluid.outer-sec::before {
        content: "";
        position: absolute;
        width: 129px;
        height: 200px;
        background-color: orange;
        top: 0;
        left: 0;
        width: 0;
    }
    .site-title h1 {
        font-size: 46px;
    }
    .sec-two-mdl a {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid salmon;
        color: #ffffff;
        font-size: 14px;
        transition: all 0.3s ease;
    }
    .site-title {
        position: absolute;
        top: 46%;
        left: 17%;
    }
    .carousel-indicators [data-bs-target] {
        width: 20px;
    }
    .section-tree-wrapper ul {
        display: flex;
        gap: 52px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cpy-rght-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .site-title h1 {
        font-size: 30px;
    }
    .sec-two-mdl a {
        display: inline-block;
        padding: 5px 5px;
        border: 1px solid salmon;
        color: #ffffff;
        font-size: 11px;
        transition: all 0.3s ease;
    }
    .site-title {
        position: absolute;
        top: 52%;
        left: 19%;
    }
    .carousel-indicators [data-bs-target] {
        width: 15px;
    }
    .flw-us a {
        display: inline-block;
        color: orange;
        font-size: 13px;
        padding-left: 50px;
    }
}

@media (max-width: 445px) {}